.social-login
    button.social-login--google
        img(src="/logo/googlelogo.png")
        | Continue with Google
    button.social-login--kakao
        img(src="/logo/kakaologo.png")
        | Continue with Kakao
    button.social-login--facebook
        img(src="/logo/facebooklogo.png")
        | Continue with Facebook
    button.social-login--naver
        img(src="/logo/naverlogo.jpg")
        | Continue with Naver