.social-login
<<<<<<< HEAD
    button.social-login--kakao
        a(href=routes.kakao)
            img(src="/logo/kakaologo.png")
            span Continue with Kakao
    button.social-login--naver
        a(href=routes.naver)
            img(src="/logo/naverlogo.jpg")
            span Continue with Naver

    //button.social-login--facebook
        img(src="/logo/facebooklogo.png")
        | Continue with Facebook//
    //button.social-login--google
        img(src="/logo/googlelogo.png")
        | Continue with Google//
=======
    button.social-login--google
        img(src="/logo/googlelogo.png")
        | Continue with Google
    button.social-login--kakao
        img(src="/logo/kakaologo.png")
        | Continue with Kakao
    button.social-login--facebook
        img(src="/logo/facebooklogo.png")
        | Continue with Facebook
    button.social-login--naver
        img(src="/logo/naverlogo.jpg")
        | Continue with Naver
>>>>>>> dd72cd5034bf7c6e804ec6d4a70a0fbbfc0e20fd
