.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        width: 100%;
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }

    .social-login--google {
        background-color: rgb(31, 54, 82);
        color: white;
    }

    .social-login--kakao {
        background-color: rgb(249, 224, 0);
        color: black;
    }

    .social-login--facebook {
        background-color: rgb(55, 93, 172);
        color: white;
    }

    .social-login--naver {
        background-color: rgb(1, 199, 60);
        color: white;
    }
}